/* Global Styles */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  color: #555;
}
  
h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  
a {
  color: #0070c0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
  
a:hover {
  text-decoration: none;
}
  
/* Header Styles */
  
header {
  background-color: #152a6e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
  
header h1 {
  margin: 0;
}
  
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
  
nav li {
  margin-right: 2rem;
}
  
nav a {
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
  
nav a:hover {
  color: #0070c0;
}
  
/* Main Styles */
  
main {
  padding: 2rem;
}
  
section {
  margin-bottom: 4rem;
}
  
section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
  
article {
  border: 1px solid #ddd;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  
article:hover {
  background-color: #eee;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
article h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}
  
article p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
}
  
article a {
  display: block;
  text-align: right;
  color: #0070c0;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
  
article a:hover {
  color: #555;
}
  
.news-card:hover {
  transform: translateY(-5px);
}
  
/* Footer Styles */
  
footer {
  background-color: #0070c0;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
  
.footer-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
}

.news {
  text-align: left;
}
  .headingnews{
    text-align: center;
  }

  .news-card {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .news-card h3 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .news-card p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  

.news-card:hover {
  background-color: #eee;
  transform: scale(1.05);
}

.news-card:hover h3, .news-card:hover p {
  color: #0070c0;
}

.news-card:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}